# Основы pandas

In [ ]:
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd
data = pd.read_csv('ratings.dat', names = ['UserIDs', 'MovieIDs', 'Rating', 'Timestamp'], sep='::', header=None)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserIDs  MovieIDs  Rating  Timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [5]:
filtered_data = data[(data['Rating']==5)]
filtered_data['MovieIDs'].value_counts().head(1)

2858    1963
Name: MovieIDs, dtype: int64

In [ ]:
Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
import pandas as pd
data = pd.read_csv('power.csv')
filtered_countries = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) & ((data['category']==4) | (data['category']==12) | (data['category']==21)) & ((data['year'] < 2011) & (data['year'] > 2004)) & (data['quantity'] > 0)]
print('Суммарное потребление стран Прибалтики:', filtered_countries['quantity'].sum())

In [ ]:
Задание 3  
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [ ]:
import pandas as pd
df = pd.read_html('https://fortrader.org/quotes')[3]
df